{% extends "layouts/default.html" %}

{% block head %}
<style>
    html,
    body {
    height: 100%;
    }

    body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    }

    .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    }
    .form-signin .checkbox {
    font-weight: 400;
    }
    .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    }
    .form-signin .form-control:focus {
    z-index: 2;
    }
    .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }
</style>
{% endblock %}

{% block content %}
    <form class="form-signin" method="post" action="">

        <!-- Flash message -->
        {% if flash.success %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <i class="fa fa-fw fa-check-circle"></i> {{ flash.success[0] }}
        </div>
        {% elseif flash.error %}
        <div class="alert alert-danger"><i class="fa fa-fw fa-times-circle"></i> {{ flash.error[0] }}</div>
        {% endif %}

      <h1 class="h3 mb-3 font-weight-normal text-center">Register</h1>

      <label for="inputName" class="sr-only">Name</label>
      <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <input type="hidden" name="{{ csrf.nameKey }}" value="{{ csrf.name }}">
      <input type="hidden" name="{{ csrf.valueKey }}" value="{{ csrf.value }}">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

      <p class="mt-5 mb-3 text-muted text-center">&copy; 2018 Project</p>

    </form>
{% endblock %}
