body {
    background-color: #FFF;
    font-weight: 300;
}

html, body, .container {
    height: 100%;
}

h1 {
    font-weight: 300;
}

.text-slim {
    color: #719e40;
}

.container {
    display: table;
    vertical-align: middle;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
